asgiref==3.11.1
asttokens==3.0.1
attrs==25.4.0
colorama==0.4.6
decorator==5.2.1
Django==6.0.2
django-extensions==4.1
executing==2.2.1
flake8==7.3.0
flake8-bugbear==25.11.29
flake8-commas==4.0.0
flake8-docstrings==1.7.0
flake8-isort==7.0.0
flake8-print==5.0.0
flake8-tidy-imports==4.12.0
ipython==9.10.0
ipython_pygments_lexers==1.1.1
isort==7.0.0
jedi==0.19.2
Jinja2==3.1.6
MarkupSafe==3.0.3
matplotlib-inline==0.2.1
mccabe==0.7.0
parso==0.8.6
pillow==12.1.1
prompt_toolkit==3.0.52
pure_eval==0.2.3
pycodestyle==2.14.0
pydocstyle==6.3.0
pyflakes==3.4.0
Pygments==2.19.2
snowballstemmer==3.0.1
sqlparse==0.5.5
stack-data==0.6.3
traitlets==5.14.3
tzdata==2025.3
wcwidth==0.6.0
