{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Общий фото-проект tovelka">
    <link rel="stylesheet" href="{% static 'messenger/css/work.css' %}">
    <!-- <link rel="stylesheet" href="/style/normalize.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&family=Viaoda+Libre&display=swap" rel="stylesheet">
    <title>Фотограф Тольятти. Портфолио. Цены. Тольятти</title>
    <link rel="canonical" href="https://tovelka.ru/pages/projects/general.html">
    
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function(m,e,t,r,i,k,a){
            m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();
            for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
            k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
        })(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=104014441', 'ym');

        ym(104014441, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", accurateTrackBounce:true, trackLinks:true});
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/104014441" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->


</head>
<body>
    <header class="header">
        <section class="section header-content">
            <div class="header-menu">
                <a href="/">Главная</a>
                <a href="/photo/index">Фото</a>
                <a href="/profile/self">Профиль</a>
                <a href="/chats">Чаты</a>
            </div>
        </section>
    </header>
    <main>
        <div class="openedPhotoContainer closedPhotoContainer">
            <button class="close"><i class="fa-solid fa-xmark fa-2xl"></i></button>
            <div class="openedPhoto">
                <button id="toLeftPhoto"><i class="fa-solid fa-arrow-left fa-2xl" style="color: white;"></i></button>
                <img src="{% static 'messenger/img/Angel.jpg' %}" alt="">
                <button id="toRightPhoto"><i class="fa-solid fa-arrow-right fa-2xl" style="color: white;"></i></button>
            </div>
        </div>
        <section class="ground">
            <div class="slide slide-1" >
                <div class="slide-ground" style="background-position: bottom;background-image: url('{% static 'messenger/img/_DSC4727_2.png'}')"></div>
                <div class="slide-1-anim"></div>
                <div class="slide-1-moon" style="position: absolute;top: 28%;right: 35%;width: 80px;height: 80px;background: url({% static 'messenger/img/_DSC4727_3.png' %});border-radius: 50%;background-size: cover;background-color: rgba(255, 255, 255, 0.1);z-index: 2;"></div>
                <div class="photographer-text">
                    <span class="text-line">
                        <span style="--i:1">З</span>
                        <span style="--i:2">а</span>
                        <span style="--i:3">п</span>
                        <span style="--i:4">е</span>
                        <span style="--i:5">ч</span>
                        <span style="--i:6">а</span>
                        <span style="--i:7">т</span>
                        <span style="--i:8">л</span>
                        <span style="--i:9">е</span>
                        <span style="--i:10">в</span>
                        <span style="--i:11">а</span>
                        <span style="--i:12">ю</span>
                    </span>
                    <span class="text-line">
                        <span style="--i:1">м</span>
                        <span style="--i:2">о</span>
                        <span style="--i:3">м</span>
                        <span style="--i:4">е</span>
                        <span style="--i:5">н</span>
                        <span style="--i:6">т</span>
                        <span style="--i:7">ы</span>
                        <span style="--i:8"> </span>
                        <span style="--i:9">в</span>
                        <span style="--i:10">е</span>
                        <span style="--i:11">ч</span>
                        <span style="--i:12">н</span>
                        <span style="--i:13">о</span>
                        <span style="--i:14">с</span>
                        <span style="--i:15">т</span>
                        <span style="--i:16">и</span>
                    </span>
                    <span class="text-line">
                        <span style="--i:1">в</span>
                        <span style="--i:2"> </span>
                        <span style="--i:3">к</span>
                        <span style="--i:4">а</span>
                        <span style="--i:5">ж</span>
                        <span style="--i:6">д</span>
                        <span style="--i:7">о</span>
                        <span style="--i:8">м</span>
                        <span style="--i:9"> </span>
                        <span style="--i:10">к</span>
                        <span style="--i:11">а</span>
                        <span style="--i:12">д</span>
                        <span style="--i:13">р</span>
                        <span style="--i:14">е</span>
                    </span>
                </div>
            </div>
            <div class="slide slide-2">
                <div class="slide-ground" style="background-image: url({% static 'messenger/img/_DSC9828__2.jpg' %})"></div>
                <div class="photographer-text-2">
                    <span class="text-line-2">
                        <span style="--i:1">С</span>
                        <span style="--i:2">т</span>
                        <span style="--i:3">у</span>
                        <span style="--i:4">д</span>
                        <span style="--i:5">и</span>
                        <span style="--i:6">й</span>
                        <span style="--i:7">н</span>
                        <span style="--i:8">а</span>
                        <span style="--i:9">я</span>
                    </span>
                    <span class="text-line-2">
                        <span style="--i:1">ф</span>
                        <span style="--i:2">о</span>
                        <span style="--i:3">т</span>
                        <span style="--i:4">о</span>
                        <span style="--i:5">с</span>
                        <span style="--i:6">ъ</span>
                        <span style="--i:7">ё</span>
                        <span style="--i:8">м</span>
                        <span style="--i:9">к</span>
                        <span style="--i:10">а</span>
                    </span>
                </div>
            </div>
            <div class="slide slide-3">
                <div class="slide-ground" style="background-image: url({% static 'messenger/img/_DSC8629__.jpg' %})"></div>
            </div>
        </section>
        <section class="section rooms">
            <div class="container">
                <p class="titleRooms">Фото</p>
                <p class="descriptionRooms">Общий каталог</p>
                <div class="roomsListContainer">
                    <div class="roomsList">
                        <button class="photo" id="p_g_Angel">
                            <img src="{% static 'messenger/img/Angel.jpg' %}" alt="">
                        </button>
                        <button class="photo" id="p_g_BB">
                            <img src="{% static 'messenger/img/BB.jpg' %}" alt="">
                        </button>
                        <button class="photo" id="p_g_car">
                            <img src="{% static 'messenger/img/car.jpg' %}" alt="">
                        </button>
                        <button class="photo" id="p_g_BB">
                            <img src="{% static 'messenger/img/UrZont.jpg' %}" alt="">
                        </button>
                        <button class="photo" id="p_g_car">
                            <img src="{% static 'messenger/img/UrVokzal.jpg' %}" alt="">
                        </button>
                        <button class="photo" id="p_g_wolkswagen">
                            <img src="{% static 'messenger/img/wolkswagen.jpg' %}" alt="">
                        </button>
                        <button class="photo" id="p_g_ASobaka">
                            <img src="{% static 'messenger/img/ASobaka.jpg' %}" alt="">
                        </button>
                        <button class="photo" id="p_g_photik">
                            <img src="{% static 'messenger/img/photik.jpg' %}" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <section class="section footerio" style="padding-inline: 2vw;">
            <div class="container">
                <div class="infoLHN">
                    <div class="infoFuniro">
                        <p class="titleFuniro">Tovelka.</p>
                        <p class="descriptionFuniro">Фотограф Тольятти</p>
                    </div>
                    <div class="LHN">
                        <a href="/index.html">Главная</a>
                        <a href="/pages/katalog.html">Прайс-лист</a>
                        <a href="/pages/works.html">Фото</a>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <!-- <script src="/js/textAnimSlider.js"></script> -->
    <script src="{% static 'messenger/js/photoOpener.js' %}"></script>
    <script src="{% static 'messenger/js/headerGround.js' %}"></script>
    <script src="https://kit.fontawesome.com/3c8f6fcb5e.js" crossorigin="anonymous"></script>
</body>
</html>